[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hellochosen
[access "refs/for/refs/*"]
	read = group user/hellochosen
	push = group user/hellochosen
	label-Code-Review = -2..+2 group user/hellochosen
	label-Verified = -1..+1 group user/hellochosen
	rebase = group user/hellochosen
	removeReviewer = group user/hellochosen
	submit = group user/hellochosen
[access "refs/heads/*"]
	read = group user/hellochosen
	create = group user/hellochosen
	push = +force group user/hellochosen
	pushMerge = group user/hellochosen
[access "refs/tags/*"]
	push = +force group user/hellochosen
	pushTag = group user/hellochosen
	pushSignedTag = group user/hellochosen
